* {
    box-sizing: border-box;
  }
body{
   
	margin: 0;

}
header {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    height: 160px;

}
.profile {
    border-radius: 50%;
    float: left;
    width: auto;
    height: 150px;
    clear: both;
  }
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:whitesmoke;
    color: black;
    text-align: center;
    margin: 5px;
}
.content{
    width: 100%;
    margin-right: 120px;
}
