body{
    height: 100%;
	padding: 0;
	margin: 0;

}
header {
    top: 0;
    left: 0;
    height: 75px;
    padding: 30px;
    background: black;
    text-align: center;
    position: relative;

}
.profile {
    border-radius: 50%;
    float: left;
    width: auto;
    height: 150px;
  }
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:whitesmoke;
    color: black;
    text-align: center;
    margin: 5px;
}
