* {
    box-sizing: border-box;
  }
body{
   height: 100%;
	margin: 0;

}
header {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    height: 160px;
    max-width: 1000px;
    margin: auto;

}
a:link{
  color: blue;
  text-decoration: none;
}
a:hover{
  color: blue;
  text-decoration: underline;
}
a:visited{
  color: rebeccapurple;
  text-decoration: none;

}
.profile {
    border-radius: 50%;
    float: left;
    width: auto;
    height: 150px;
    clear: both;
}
.content{
  max-width: 1000px;
  min-height: calc(100vh - 70px);
  margin:auto;
}
.navigation.li{
  display: inline;
}
footer{
    bottom: 0;
    background-color: whitesmoke;
    max-width: 1000px;
    margin:auto;
    color: black;
    text-align: center;
    
}

